<h1 class="title">Possible Questions of the Week</h1>
<! -- questions are ordered by creation date -->
<%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
<% @questions.each do |q|%>
  <div class="panel panel-default question-index-panel">
    <div class="panel-body">
      <div class="col-md-1" style="
      ">
      <div class="thumb-up-container">
          <%= link_to "", question_votes_path(q), {:method => "post", :class => "hvr-wobble-vertical fa fa-thumbs-o-up fa-2x vote-up-icon"} %>
          <div style="text-align:center">
            <b>
              <%= q.vote_count %>
            </b>
          </div>
      </div>
      </div>
      <div class="col-md-11">
        <p><%= q.content%></p>
        <p><%= link_to q.source_url, q.source_url%></p>
      </div>
    </div>
  </div>
<% end %> 
