
<h1 class="title">Interview Question Of <%= @today_name %></h1>
<br><br>
  <span id = "typer" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWant the Internship from </span>
<span id= "typer-cursor"> </span>
<div class="panel panel-success question-panel">
  <div class="panel-body">
    <div class="col-md-2">
      <div class="vote chev">
        <div class="increment up">
          <%= link_to "____", question_votes_path(@question), method: :post %>
        </div>
        <div class="increment down">
          <% if current_user %>
           <%= link_to " . . . . . . .  ", question_vote_path(@question, Vote.where(:question_id => @question.id, :user_id => current_user.id)), method: :delete %>
          <% end %>
        </div>
        <div class="count"><p><%= @question.vote_count %></p></div>
      </div>
    </div>
    <div class="col-md-10">
      <p><%= @question.content %> </p>
      <%= link_to "Source", @question.source_url%>
    </div>
  </div>
</div>
<div class="two-buttons-wrapper">
  <button class="btn btn-lg btn-default favorite-button hvr-sweep-to-right">Favorite</button>
  <button class="btn btn-lg btn-default get-more-button hvr-sweep-to-right"><%= link_to "Get More", questions_path %></button>
</div>

