<h1 class="title">Interview Question For <%= @today_name %></h1>
<br><br>
  <span id = "typer" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWant the Internship from </span>
<span id= "typer-cursor"> </span>
<div class="panel panel-success question-panel">
  <div class="panel-body">
    <div class="col-md-2">
      <div class="vote chev">
        <div class="increment up">
          <%= link_to ".  . .  .  .", question_votes_path(@today_question), method: :post %>
        </div>
        <div class="increment down">
          <% if current_user %>
           <%= link_to " . . . . . . .  ", question_vote_path(@today_question, Vote.where(:question_id => @today_question.id, :user_id => current_user.id)), method: :delete %>
         <% end %>
        </div>
        <div class="count"><p><%= @today_question.vote_count %></p></div>
      </div>
    </div>
    <div class="col-md-10 question-content">
      <p><%= @today_question.content %> </p>
      <%= link_to "Source", @today_question.source_url %>
    </div>
  </div>
</div>
<div class="two-buttons-wrapper">
  <% if current_user %>
    <button class="btn btn-lg btn-default favorite-button hvr-sweep-to-right"><%= link_to "Favorite", user_path(current_user), method: :patch %></button>
  <% end %>
  <button class="btn btn-lg btn-default get-more-button hvr-sweep-to-right"><%= link_to "Get More", questions_path %></button>
</div>
