<div class="title-container">
  <h1 class="title">Interview Question For <%= @today_name %></h1>
</div>
<br><br>
<div class="typer-container">
  <span id = "typer" >Want the Internship from </span>
  <span id= "typer-cursor"> </span>
</div>
<div class="panel panel-success question-panel">
  <div class="panel-body">
    <div class="col-md-2">
      <div class="vote chev">
        <%= link_to "", question_votes_path(@today_question), {:method => "post", :class => "increment up hvr-wobble-up"} %>
        <%= link_to "", question_vote_path(@today_question, Vote.where(:question_id => @today_question.id, :user_id => current_user)), {:method => "delete",:class => "increment down"} %>
        <div class="count"><p><%= @today_question.vote_count %></p></div>
      </div>
    </div>
    <div class="col-md-10 question-content">
      <p><%= @today_question.content %> </p>
      <%= link_to "Source", @today_question.source_url %>
    </div>
  </div>
</div>
<div class="two-buttons-wrapper">
  <% if current_user %>
    <button class="btn btn-lg btn-default favorite-button hvr-sweep-to-right"><i class="fa fa-star-o fa"></i>  Favorite</button>
  <% end %>
  <%= link_to questions_path, {:class => "btn btn-default btn-lg get-more-button hvr-sweep-to-right", :method => "get" } do %>
    <i class="fa fa-book"></i> Get More
  <% end %>
</div>
