<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Interview Question Of The Day" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--font-->
    <script src="//use.typekit.net/fjn3tcn.js"></script>
    <script src="app/assets/javascripts/typed.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  
    <style type="text/css">
      /* pushes the page to the full capacity of the viewing area */
      html {height:100%;}
      body {height:100%; margin:0; padding:0;}
      /* prepares the background image to full capacity of the viewing area */
      #bg {position:fixed; top:0; left:0; width:100%; height:100%;}
      /* places the content ontop of the background image */
      #content {position:relative; z-index:1;}
    </style>
    <!--[if IE 6] -->
    <style type="text/css">
      /* some css fixes for IE browsers */
      html {overflow-y:hidden;}
      body {overflow-y:auto;}
      #bg {position:absolute; z-index:-1;}
      #content {position:static;}
    </style>
  </head>
  <body>
  <main role="main">
    <div class="entire-website">
     <%= render 'layouts/messages' %>
      <div class="row">
      <div class="col-sm-4 col-md-2 sidebar" style="margin-top:20px;">
        <div class="mini-submenu" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="list-group">
            <span href="#" class="list-group-item active">
                Dashboard
                <span class="pull-right" id="slide-submenu">
                    <i class="fa fa-times"></i>
                </span>
            </span>
            <% if current_user %>
              <div class="list-group-item">
                 <i class="fa fa-home"></i> <%= link_to "Home", root_path, method: :get%>
              </div>
              <div href="#" class="list-group-item">
                <i class="fa fa-user"></i> <%= link_to current_user.name, user_path(current_user) %>
              </div>
              <div href="#" class="list-group-item">
                  <i class="fa fa-star"></i><a href="#"> Favorite Questions</a>
              </div>
              <div href="#", class="list-group-item">
                <i class="fa fa-edit"></i> <%= link_to "Edit Account", edit_user_registration_path(current_user) %> 
              </div>
              <div href="#" class="list-group-item">
                <i class="fa fa-sign-out"></i> <%= link_to "Sign Out", destroy_user_session_path, :method=>'delete' %> 
              </div>
            <% else %>
              <div class="list-group-item">
                 <i class="fa fa-home"></i> <%= link_to "Home", root_path %>
              </div>
              <div href="#" class="list-group-item">
                <i class="fa fa-sign-in"></i> <%= link_to 'Sign In', new_user_session_path %> 
              </div>
              <div href="#" class="list-group-item">
                <i class="fa fa-male"></i> <%= link_to 'Sign Up', new_user_registration_path %> 
              </div>
            <% end %>
        </div>        
      </div>
      
      <div class="col-md-8">
        <%= yield %>
      </div>
      
      <div class="col-md-2"></div>
      
      </main>
    </div>
  </body>
  <!--readmore.js -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1644331775795217',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
  </script>
</html>
