<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Devise" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <% if current_user %>
              <li>
                <%= current_user.name %>
              </li>
              <li>
                Favorite Questions
              </li>
              <li>Edit Account</li>
              <li>Log Out</li>
            <% else %>
              <li>Sign In</li>
              <li>Sign Up</li>
            <% end %>
          </ul>
      </div>
      <!-- sidebar -->
      <!-- page content -->
      <div class="page-content-wrapper">

        <main role="main">
           <%= render 'layouts/messages' %>
           <%= yield %>
        </main>
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
      </div>
    </div>
  </body>
  <script>
  //using facebook sdk
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1644331775795217',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

  //sidebar toggle
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  </script>
</html>
